@model Art.Models.IndexViewModel


<div id="colorlib-container">
    <div class="container">
        @if (Model.Blogs!=null)
        {
            
        
        <div class="row row-pb-md">

            @foreach (var item in Model.Blogs)
            {
                
            

            <div class="col-md-4">
                <div class="blog-entry">
                    <div class="blog-img">
                        <a href="/blog/@Methods.GenerateUrl(item.Title!)/@item.Id"><img src="~/uploads/images/@item.Image" class="img-responsive"
                                alt="html5 bootstrap template"></a>
                    </div>
                    <div class="desc">
                        <p class="meta">
                            <span class="cat"><a href="/blog">Blog</a></span>
                            <span class="date">@(String.Format("{0:dd MMM yyyy}", item.Date) )</span>
                            <span class="pos"> <i class="icon-eye text-success"></i> @item.Read </span>
                            <span class="pos"> <i class="fa-sharp fa-solid fa-heart text-danger"></i> @item.Like </span>
                        </p>
                        <h2><a href="/blog/@Methods.GenerateUrl(item.Title!)/@item.Id">@item.Title</a></h2>
                        <p>@item.Subtitle</p>
                    </div>
                </div>
           </div>
            }
        </div>
        }

        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    
</div>