@model Art.Models.IndexViewModel

<aside id="colorlib-hero">
    <div class="flexslider">

        @if (Model.Slides != null)
        {
            <ul class="slides">

                @foreach (var item in Model.Slides)
                {
                        <li style='background-image: url(@(Url.Content("~/uploads/images/"+item.Image)))'>
                            <div class="overlay"></div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">

                                            <div class="slider-text-inner">
                                                <a href="@item.Url" target="@item.Target"></a>
                                            <div class="desc">
                                                <p class="meta">

                                                <span class="date">@item.Subtitle</span>

                                                </p>
                                                <h1>@item.Title</h1>
                                            </div>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </li>
                }



            </ul>
        }

    </div>
</aside>