@model Art.Models.IndexViewModel

@{
	ViewData["Title"] = "Blog";

	int currentPage = 1;

	var sessionCurrentPage = ViewContext.HttpContext.Session.GetInt32("currentPage");

	if (sessionCurrentPage != null)
	{
		currentPage = int.Parse(sessionCurrentPage.ToString()!);
	}

	int defaultPageCount = Model.Site!.Page; //her sayfadaki ürün adedi - sayfa başı listelenecek ürün adedi
	int pageCount = Model.Blogs!.Count(); //blog tablosundaki kayıt adedi
	int mod = pageCount % defaultPageCount; //blog tablosundaki kayıt adedinin sayfa başı ürün adedine bölümünde kalan
	int page = pageCount / defaultPageCount; //listelenecek sayfa adedi

	if (mod > 0)
	{
		page++;
	}
}

@{
	await Html.RenderPartialAsync("_Breadcrumbs");
}

<div id="colorlib-container">
	<div class="container">
		<div class="row">
			<div class="col-md-9 content">

				@if (Model.Blogs != null)
				{
					<div class="row row-pb-md">

						@foreach (var item in Model.Blogs.Skip((currentPage - 1) * defaultPageCount).Take(defaultPageCount))
						{
							<div class="col-md-6">
								<div class="blog-entry">
									<div class="blog-img">
										<a href="/blog/@Methods.GenerateUrl(item.Title!)/@item.Id"><img
												src="~/uploads/images/@item.Image" class="img-responsive"
												alt="html5 bootstrap template"></a>
									</div>
									<div class="desc">
										<p class="meta">
											<span class="cat"><a href="/blog">Blog</a></span>
											<span class="date">@(String.Format("{0:dd MMM yyyy}", item.Date))</span>
											<span class="pos"> <i class="icon-eye text-success"></i> @item.Read </span>
											<span class="pos"> <i class="fa-sharp fa-solid fa-heart text-danger"></i> @item.Like
											</span>
										</p>
										<h2><a href="/blog/@Methods.GenerateUrl(item.Title!)/@item.Id">@item.Title</a></h2>
										<p>@item.Subtitle</p>
									</div>
								</div>
							</div>
						}
					</div>
				}

				<div class="row">
					<div class="col-md-12 text-center">
						@if (page > 1)
						{
						//sayfa adedi 1den büyük değilse sayfalamaya gerek yok

							<ul class="pagination">
								<li class='@(currentPage==1?"disabled":"")'>

									@if (currentPage == 1)
									{
										<a>&laquo;</a>
									}
									else
									{
										<a href="~/blog/@(currentPage-1)">&laquo;</a>
									}

								</li>


								@for (int i = 1; i <= page; i++)
								{
									<li class='@(currentPage==i?"active":"")'><a href="~/blog/@i">@i</a></li>
								}

								<li class='@(currentPage==page?"disabled":"")'>

									@if (currentPage == page)
									{
										<a>&raquo;</a>
									}
									else
									{
										<a href="~/blog/@(currentPage+1)">&raquo;</a>
									}
								</li>
							</ul>
						}
					</div>
				</div>
			</div>


			<div class="col-md-3">
				<div class="sidebar">
					<div class="side">
						<div class="form-group">
							<input type="text" class="form-control" id="search"
								placeholder="Enter any key to search...">
							<button type="submit" class="btn btn-primary"><i class="icon-search3"></i></button>
						</div>
					</div>


					<div class="side">
						<h2 class="sidebar-heading">Arşiv</h2>
						<p>
						<ul class="category">
							<li><a href="#"><i class="icon-check"></i> Haz 2023 <span
										class="badge badge-success">3</span></a></li>
							<li><a href="#"><i class="icon-check"></i> May 2023 <span
										class="badge badge-secondary">3</span></a></li>
							<li><a href="#"><i class="icon-check"></i> Nis 2023 <span
										class="badge badge-secondary">3</span></a></li>
							<li><a href="#"><i class="icon-check"></i> Mar 2023 <span
										class="badge badge-secondary">3</span></a></li>
							<li><a href="#"><i class="icon-check"></i> Şub 2023 <span
										class="badge badge-secondary">3</span></a></li>
							<li><a href="#"><i class="icon-check"></i> Oca 2023 <span
										class="badge badge-secondary">3</span></a></li>
							<li><a href="#"><i class="icon-check"></i> 2022 <span
										class="badge badge-secondary">3</span></a></li>
							<li><a href="#"><i class="icon-check"></i> 2021 <span
										class="badge badge-secondary">3</span></a></li>
						</ul>
						</p>
					</div>


					<div class="side">
						<div class="form-group">
							<input type="text" class="form-control form-email text-center" id="email"
								placeholder="Enter your email">
							<button type="submit" class="btn btn-primary btn-subscribe">Subscribe</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>