@model Art.Models.IndexViewModel
@{
    ViewData["Title"] = "Blog";
    ViewData["Subtitle"] = Model.Blog!.Title;
}

@{
    await Html.RenderPartialAsync("_Breadcrumbs");
}


<div id="colorlib-container">
    <div class="container">
        <div class="row">
            <div class="col-md-9 content">
                <div class="row row-pb-lg">
                    <div class="col-md-12">
                        <div class="blog-entry">
                            <div class="blog-img blog-detail">
                                <img src="~/uploads/images/@Model.Blog.Image" class="img-responsive"
                                    alt="html5 bootstrap template">
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="/blog">Blog</a></span>
                                    <span class="date">@(String.Format("{0:dd MMM yyyy}", Model.Blog.Date))</span>
                                    <span class="pos"> <i class="icon-eye text-success"></i> @Model.Blog.Read </span>
                                    <span class="pos"> <i class="fa-sharp fa-solid fa-heart text-danger"></i>
                                        @Model.Blog.Like
                                    </span>
                                </p>
                                <h2>@Model.Blog.Title</h2>
                                @Html.Raw(Model.Blog.Detail)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-pb-lg">
                    <div class="col-md-12">
                        <h2 class="heading-2">23 Comments</h2>
                        <div class="review">
                            <div class="user-img" style="background-image: url(images/person1.jpg)"></div>
                            <div class="desc">
                                <h4>
                                    <span class="text-left">Jacob Webb</span>
                                    <span class="text-right">24 March 2018</span>
                                </h4>
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on
                                    the skyline of her hometown Bookmarksgrov</p>
                                <p class="star">
                                    <span class="text-left"><a href="#" class="reply"><i
                                                class="icon-reply"></i></a></span>
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <div class="user-img" style="background-image: url(images/person2.jpg)"></div>
                            <div class="desc">
                                <h4>
                                    <span class="text-left">Jacob Webb</span>
                                    <span class="text-right">24 March 2018</span>
                                </h4>
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on
                                    the skyline of her hometown Bookmarksgrov</p>
                                <p class="star">
                                    <span class="text-left"><a href="#" class="reply"><i
                                                class="icon-reply"></i></a></span>
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <div class="user-img" style="background-image: url(images/person3.jpg)"></div>
                            <div class="desc">
                                <h4>
                                    <span class="text-left">Jacob Webb</span>
                                    <span class="text-right">24 March 2018</span>
                                </h4>
                                <p>When she reached the first hills of the Italic Mountains, she had a last view back on
                                    the skyline of her hometown Bookmarksgrov</p>
                                <p class="star">
                                    <span class="text-left"><a href="#" class="reply"><i
                                                class="icon-reply"></i></a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heading-2">Say something</h2>
                        <form action="#">
                            <div class="row form-group">
                                <div class="col-md-6">
                                    <!-- <label for="fname">First Name</label> -->
                                    <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                                </div>
                                <div class="col-md-6">
                                    <!-- <label for="lname">Last Name</label> -->
                                    <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <!-- <label for="email">Email</label> -->
                                    <input type="text" id="email" class="form-control" placeholder="Your email address">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <!-- <label for="subject">Subject</label> -->
                                    <input type="text" id="subject" class="form-control"
                                        placeholder="Your subject of this message">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <!-- <label for="message">Message</label> -->
                                    <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                                        placeholder="Say something about us"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @{
                    await Html.RenderPartialAsync("_BlogSideBar");
                }
            </div>
        </div>
    </div>
</div>